body {
    background-image: url(profile.images/image2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: auto;
}

.jumbotron{
    width: 100%;
    background-color: rgb(104, 98, 98, 0.9);
    text-shadow: .5px .5px aliceblue;
    text-align: center;
}

.container {
    width: 100%;
    background-color: cornsilk;
    opacity: 0.95;
    text-shadow: .5px .5px aliceblue;
}


.seeit{
    border: 5px white inset;
    padding: 2%;
    clear: left;
}

.img-circle{
    border-radius: 50%;
    height: auto;
    max-width: 100%;

}

.footer{
    background-color: rgb(105, 98, 98);
}

p {
    text-indent: 2em;
}

a {
    text-shadow: .15px .5px aliceblue;
    padding: 0 15px 0 0;
}
